<nav class="navbar">

  <div class="nav-container">

    <!-- Logo -->
    <div class="nav-brand" routerLink="/create-plan">

      <div class="logo-icon">S</div>

      <div>
        <div class="logo-text">SubFlow</div>
        <div class="logo-sub">Merchant Portal</div>
      </div>

    </div>

    <!-- Mobile -->
    <button
      class="menu-toggle"
      >

      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>

    </button>

    <div
      class="nav-menu-wrapper"
      >

      <ul class="nav-links">

        <li>
          <a
            routerLink="/create-plan"
            routerLinkActive="active">
            Dashboard
          </a>
        </li>

      </ul>

      <div class="merchant-info">

        <div class="merchant-avatar">
          M
        </div>

        <div>

          <div class="merchant-name">
            Merchant
          </div>

          <div class="merchant-role">
            Admin Panel
          </div>

        </div>

      </div>

    </div>

  </div>

</nav>